[ColorEffects:Disabled]
Color=@ENT_TEXT_DIM@
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=@ENT_TEXT_DIM@
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=@ENT_SURFACE_RAISED@
BackgroundNormal=@ENT_SURFACE@
DecorationFocus=@ENT_ACCENT@
DecorationHover=@ENT_ACCENT_HOVER@
ForegroundActive=@ENT_ACCENT@
ForegroundInactive=@ENT_TEXT_DIM@
ForegroundLink=@ENT_ACCENT@
ForegroundNegative=@ENT_DANGER@
ForegroundNeutral=@ENT_WARNING@
ForegroundNormal=@ENT_TEXT@
ForegroundPositive=@ENT_SUCCESS@
ForegroundVisited=@ENT_BRAND_END@

[Colors:Selection]
BackgroundAlternate=@ENT_ACCENT_HOVER@
BackgroundNormal=@ENT_ACCENT@
DecorationFocus=@ENT_ACCENT@
DecorationHover=@ENT_ACCENT_HOVER@
ForegroundActive=255,255,255
ForegroundInactive=255,255,255
ForegroundLink=255,255,255
ForegroundNegative=255,255,255
ForegroundNeutral=255,255,255
ForegroundNormal=255,255,255
ForegroundPositive=255,255,255
ForegroundVisited=255,255,255

[Colors:Tooltip]
BackgroundAlternate=@ENT_SURFACE_RAISED@
BackgroundNormal=@ENT_SURFACE@
DecorationFocus=@ENT_ACCENT@
DecorationHover=@ENT_ACCENT_HOVER@
ForegroundActive=@ENT_ACCENT@
ForegroundInactive=@ENT_TEXT_DIM@
ForegroundLink=@ENT_ACCENT@
ForegroundNegative=@ENT_DANGER@
ForegroundNeutral=@ENT_WARNING@
ForegroundNormal=@ENT_TEXT@
ForegroundPositive=@ENT_SUCCESS@
ForegroundVisited=@ENT_BRAND_END@

[Colors:View]
BackgroundAlternate=@ENT_SURFACE_RAISED@
BackgroundNormal=@ENT_SURFACE@
DecorationFocus=@ENT_ACCENT@
DecorationHover=@ENT_ACCENT_HOVER@
ForegroundActive=@ENT_ACCENT@
ForegroundInactive=@ENT_TEXT_DIM@
ForegroundLink=@ENT_ACCENT@
ForegroundNegative=@ENT_DANGER@
ForegroundNeutral=@ENT_WARNING@
ForegroundNormal=@ENT_TEXT@
ForegroundPositive=@ENT_SUCCESS@
ForegroundVisited=@ENT_BRAND_END@

[Colors:Window]
BackgroundAlternate=@ENT_SURFACE@
BackgroundNormal=@ENT_BG@
ForegroundActive=@ENT_ACCENT@
ForegroundInactive=@ENT_TEXT_DIM@
ForegroundLink=@ENT_ACCENT@
ForegroundNegative=@ENT_DANGER@
ForegroundNeutral=@ENT_WARNING@
ForegroundNormal=@ENT_TEXT@
ForegroundPositive=@ENT_SUCCESS@
ForegroundVisited=@ENT_BRAND_END@

[General]
ColorScheme=@ENT_SCHEME_ID@
Name=@ENT_SCHEME_NAME@
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground=@ENT_SURFACE_RAISED@
activeBlend=@ENT_TEXT@
activeForeground=@ENT_TEXT@
frame=@ENT_BORDER@
inactiveBackground=@ENT_SURFACE@
inactiveBlend=@ENT_SURFACE@
inactiveForeground=@ENT_TEXT_DIM@
