[Background]
Color=@ENT_BG@

[BackgroundFaint]
Color=@ENT_BG_FAINT@

[BackgroundIntense]
Color=@ENT_BG_INTENSE@

[Color0]
Color=@ENT_C0@

[Color0Intense]
Color=@ENT_C0I@

[Color1]
Color=@ENT_C1@

[Color1Intense]
Color=@ENT_C1I@

[Color2]
Color=@ENT_C2@

[Color2Intense]
Color=@ENT_C2I@

[Color3]
Color=@ENT_C3@

[Color3Intense]
Color=@ENT_C3I@

[Color4]
Color=@ENT_C4@

[Color4Intense]
Color=@ENT_C4I@

[Color5]
Color=@ENT_C5@

[Color5Intense]
Color=@ENT_C5I@

[Color6]
Color=@ENT_C6@

[Color6Intense]
Color=@ENT_C6I@

[Color7]
Color=@ENT_C7@

[Color7Intense]
Color=@ENT_C7I@

[Foreground]
Color=@ENT_FG@

[ForegroundFaint]
Color=@ENT_FG_FAINT@

[ForegroundIntense]
Color=@ENT_FGI@

[General]
Description=@ENT_LABEL@
Opacity=1
Wallpaper=
