active_color_1=@ENT_SURFACE_RAISED@
active_color_2=@ENT_SURFACE_RAISED@
inactive_color_1=@ENT_SURFACE@
inactive_color_2=@ENT_SURFACE@

active_text_color=@ENT_TEXT@
inactive_text_color=@ENT_TEXT_DIM@

full_width_title=true
title_shadow_active=false
title_shadow_inactive=false
