[Scheme]
Name=@ENT_LABEL@
ColorForeground=@ENT_FG@
ColorBackground=@ENT_BG@
ColorCursor=@ENT_FG@
ColorPalette=@ENT_C0@;@ENT_C1@;@ENT_C2@;@ENT_C3@;@ENT_C4@;@ENT_C5@;@ENT_C6@;@ENT_C7@;@ENT_C0I@;@ENT_C1I@;@ENT_C2I@;@ENT_C3I@;@ENT_C4I@;@ENT_C5I@;@ENT_C6I@;@ENT_C7I@
